<% @devices.each do |device| %>
  <h2>Device Name: <%= device.name %></h2>
  <p>Device ID: <%= device.uuid %></p>
  <% device.notifications.each do |notif| %>
    Num Updates: <%= notif.updates %>, Timestamp: <%= notif.created_at.in_time_zone('America/Los_Angeles').strftime('%-m/%-d/%y %l:%M %p') %>
    <br/>
  <% end %>
  <br/>
<% end %>
